@font-face {
  font-family: sdv;
  src:url(Stardew_Valley.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: andale mono, monospace;
  text-decoration: none;
  list-style: none;
}

body,
html{
    min-height: 100%;
}

body {
  background-image:url(images/bg.png);
  background-size: cover;
}


h1 {
  color: black;
  font-family: sdv;
  font-size: 60;
  color: #9e6549;
  margin-left: 120px;
}

p {
  color: black;
  font-size: 30;
  font-family: andale mono, monospace;
  color: #40321f;
  line-height: 2;
}

.header {
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 30px;
  align-items: center;
  list-style: none;
  margin-bottom: 3cm;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 50px
}

.logo p{
  margin-left: 20px;
  font-family: sdv;
  color: #40321f;
}

.nav {
  display: flex;
  align-items: left;
}
.nav a {
  color: #40321f;
  font-family: sdv;
  font-size: 30px;
  margin: 0px, 30px;
  padding: 40px;
}
.nav a:hover {
  color: white;
}
.nav a:active {
  color: white;
}

.inspiration{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inspotext{
  flex-basis: 40px  ;
}

.inspolink {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.req p {
    margin-left: 120px;
}

.credits p {
    margin-left: 120px;
}
