@font-face {
  font-family: sdv;
  src:url(Stardew_Valley.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: andale mono, monospace;
  text-decoration: none;
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

body,
html{
    min-height: 100%;
}

body {
  background-image:url(images/bg.png);
  background-size: cover;
}


h1 {
  color: black;
  font-family: sdv;
  font-size: 60;
  background-color: #FFD284;
  color: #611A0D;
  border: 6px solid #CF6904;
}

p {
  color: black;
  font-size: 30;
  font-family: andale mono, monospace;
  background-color: #FFD284;
  color: #40321f;
  line-height: 2;
  border: 6px solid #CF6904;
}

.header {
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 30px;
  align-items: center;
  list-style: none;
  margin-bottom: 3cm;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 50px
}

.logo p{
  margin-left: 20px;
  font-family: sdv;
  color: #40321f;
}

.nav {
  display: flex;
  align-items: left;
}
.nav a {
  color: #40321f;
  font-family: sdv;
  font-size: 30px;
  margin: 0px, 30px;
  padding: 40px;
}
.nav a:hover {
  color: white;
}
.nav a:active {
  color: white;
}

.inspiration{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inspotext{
  text-align: center;
  max-width: 45%;
}

.inspolink {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.req p {
    margin-left: 120px;
}

.credits p {
    margin-left: 120px;
}
